doctype html
html
    head
        if locals.pageTitle
            title= pageTitle
        link(href="/css/site.css", rel="stylesheet", type="text/css")
    body
        block content
        
        script(src='http://static.getclicky.com/js')
        script try{ clicky.init(66483831); }catch(e){}
        
        script.
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-25961630-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();